<div class="card card-compact bg-base-100 shadow-xl m-5 animate-fadeIn">
  <figure>
    <img [src]="product().images | productImage" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2 class="card-title font-montserrat text-accent text-xl">
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice : 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <a [routerLink]="['/product', product().slug]" class="link link-accent"
        >More</a
      >
    </div>
  </div>
</div>
